.App {
  text-align: center;
}
body {
  font-family: sans-serif;
}

.tabla thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.tabla th,
.tabla td {
  padding: 12px 15px;
}

h1 {
  color: #009879;
  margin-bottom: 10px;
}

tabla {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.tabla tbody tr {
  border-bottom: 1px solid #dddddd;
}

.tabla tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.tabla tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.tabla tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
}

thead th {
  width: auto;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenedor_inputs {
  color: #009879;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.input {
  color: #009879;
  margin: 5px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

.input input {
  display: block;
  float: left;
  clear: right;
  text-align: left;
  display: flex;
}

label {
  text-align: left;
  width: 150px;
  display: block;
  float: left;
  clear: right;
  font-size: 18;
}

.button {
  width: 30%;
  margin: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #01090c;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
